/* App.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Use justify-content instead of align-items */
    align-items: center;
    padding: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Hero section styles */
  .hero {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0; /* Remove the margin-top */
  }
  
  .lottery-data {
    margin-top: 20px;
  }
  
  /* Popup styles */
  .popup {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .popup h2 {
    margin: 0;
  }
  
  /* Button styles */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Animations */
  .animated-enter {
    opacity: 0;
    transform: translateY(-100px);
  }
  
  .animated-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
  }
  